# Hugo Specifics
/jupuwupucom/public/
/jupuwupucom/resources/_gen/ 
/jupuwupucom/archetypes/
/jupuwupucom/config.toml 
/jupuwupucom/data/
/jupuwupucom/layouts/_default/_markup/render-*.html 

# Editor Specifics
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace

# OS Specifics
Thumbs.db
ehthumbs.db
._*
*.swp # vim swap files
*.swo # vim swap files
*~ # Backup files
*.bak # Backup files

# Deployment specific
.env
/netlify/  
/.idea/
/.gradle/
/build/
/dist/

# Node.js and npm
node_modules/
package-lock.json

# General
*.log 
*.tmp
*.cache
*.diff